body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
   padding: 0px!important; 
}
.menu-principal {
    width: 100%;
    background-image: url('footer2.png');
    background-color: black;
    height: 60px;
}
main, .content {
    color:black;
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding: 16px;
    width: 70%;
}

.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu-urls {
    height: 80px;
    width: 100%;
    border-bottom: 3px solid black;
}
.menu ul li {
    display: inline-block;
    color: black;
    margin-left: 15px;
    height: 48px;
}

.menu ul li:hover {
    border-bottom: 3px solid purple;
}

.menu ul li a:hover {
    color: rgb(236, 17, 236);
    
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu {
    width: 70%;
    float: left;
}

.coluna {
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(anterior.png);
    top: 45%;
    left: 14%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(proximo.png);
    top: 45%;
    right: 14%;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 930px;
}

li.slick-active button {
    background: purple;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

.periodo {
    float: left;
    width: 20%;
    color: white;
    text-align: center;
}

.footer {
    background-image: url('footer.png');
    color: #ffffff;
}

.footer-2 {
    background-image: url('footer2.png');
    color: #c1c1c1;
    height: 90px;
}


.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    padding: 10px;
}

.clock {
    color:black;
}

.clock:before {
    content: '';
    width:  15px;
    height: 15px;
    display: inline-block;
    background-image: url('clock.png');
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before, .emailico:before, .telefoneico:before {
    content: '';
    width:  17px;
    height: 24px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
.local:before {
    background-image: url('local.png');
}  
.emailico:before {
    background-image: url('email.png');
}  
.telefoneico:before {
    background-image: url('telefoneico.png');
}  

.local {
    color: black;
}

.emailico {
    color: black;
}

.telefoneico {
    color: black;
}

.content {
    color:gray;
}

.tags {
    color: black;
}

.lista {
    float: left;
    width: 20%;
    color: white;
    text-align: center;
    background-image: url('footer.png');
    width: 100%;
    height: 832px;
    position: absolute;
}

.lista h3:hover {
    color: purple;
}

.lista :hover {
    color: purple;
}

.lista li:hover {
    color: purple;
}

.lista p:hover {
    color: purple;
}

.lista-curriculo p:hover {
    color: purple;
}


.lista2 p:hover {
    color: purple;
}

.atividade_1 {
    display: inline-block;
    float: left;
    position: absolute;
    top: 80;
    left: 58%;
}

.atividade_2 {
    display: inline-block;
    float: left;
    position: absolute;
    top: 120;
    left: 58%;
}

.atividade_3 {
    display: inline-block;
    float: left;
    position: absolute;
    top: 160;
    left: 58%;
}

.atividade_4 {
    display: inline-block;
    float: left;
    position: relative;
    top: 40%;
    left: 46%;
}

.at-5 {
    top: 0%;
    float: left;
    display: inline-block;
    position: absolute;
    left: 48%;
}

.at-5 li{
    display: inline-block;
    float: left;
    }

.at-6 {
    float: left;
    display: inline-block;
    position: absolute;
    top: 47%;
    left: 48%;
}

.at-6 li{
    display: inline-block;
    float: left;
    }

.at-7 {
    float: left;
    display: inline-block;
    position: absolute;
    top: 79%;
    left: 48%;
}

.at-7 li{
    display: inline-block;
    float: left;
    }

.lista_espacada {
    top: 40%;
    color: white;
    width: 100%;
    position: absolute;
    height: 370px;
}

.atividade_5 {
    display: inline-block;
    float: left;
    position: absolute;
    top: 44%;
    left: 46%;
}

.atividade_6 {
    display: inline-block;
    float: left;
    position: absolute;
    top: 66%;
    left: 45%;
}

.atividade_7 {
    display: inline-block;
    float: left;
    position: absolute;
    top: 80%;
    left: 44%;
}

.periodo {
    float: left;
    width: 20%;
    text-align: center;
}
.periodo img {
cursor: pointer;
 margin: 0 auto;
 padding-top: 1em;
 vertical-align: middle;
}
.periodo img:hover {
    margin-top: 10px!important;
    position: relative!important;
}

.lista2 {
    float: left;
    width: 20%;
    color: white;
    text-align: center;
    background-image: url('footer.png');
    width: 100%;
    height: 352px;
    top: 55%;
    position: absolute;
}

.titulo {
    color: rgb(0, 0, 0);
}


.perfil-foto {
    position: relative;
    top: 1%;
    left: 75%;
    width: 184px;
    text-align: right;
    height: 250px;
}

.curriculo {
    width: 20%;
    width: 350px;
    height: 600px;
    left: 49%;
    top:0%;

}

.lista-curriculo {
    float: right;
    width: 20%;
    color: white;
    text-align: left;
    background-image: url('footer.png');
    width: 50%;
    height: 832px;
}

.posicao-foto {
    float: left;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
}